<h1 mat-dialog-title>Add mobster</h1>
<div mat-dialog-content>
  <p>What's your mobster name?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data" (keyup.enter)="dialogRef.close(data)">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data">Ok</button>
</div>
