<div class="button-row">
    <button  mat-raised-button color="primary" (click)="openDialog()">Add</button>
    <button  mat-raised-button color="primary" (click)="rotate()">Rotate</button>
</div>
<div class="mobsters">
  <mat-chip-list>
    <mat-chip color="primary" (removed)="remove(mobster)" [removable]="true" [selected]="index === 0" *ngFor="let mobster of mobsters(); let index = index">
      {{mobster | capitalize}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
  <div *ngIf="mobsters().length <= 0;">
    <h1>No mobsters added</h1>
  </div>
</div>