.mobsters {
    display: flex;
    justify-content: center;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.button-row button {
    margin-left: 5px;
    margin-right: 5px;
}