<div class="container">
  <app-navigation></app-navigation>

    <!-- <app-mobsters></app-mobsters> -->
    <app-timer></app-timer>
    <app-mobsters></app-mobsters>
    <app-progressbar></app-progressbar>
</div>