<mat-toolbar color="primary">
  <span>Mob timer</span>
  <span class="spacer"></span>
    <a mat-icon-button href="https://bitbucket.org/poserdonut/mobtimer" target="_">
      <mat-icon>code</mat-icon>
    </a>
</mat-toolbar>
