.slider {
    cursor: -webkit-grab;
    width: 90%;
    max-width: 360px;
}

.timercontainer {
    display: flex;
    justify-content: center;
    height: 60vh;
}

.timersize {
    width: 100%;
}

.timerdisplay {
    font-size: 100px;
}
