<div class="timercontainer">
    <mat-grid-list cols="1" rowHeight="fit" class="timersize">
        <mat-grid-tile class="timerdisplay">{{displayTime}}</mat-grid-tile>
        <mat-grid-tile>
            <mat-slider class="slider" (change)="setTime($event.value)" [disabled]="false" [max]="30" [min]="5" [step]="5" thumbLabel
            [tickInterval]="1" value="15">
          </mat-slider>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button (click)="resumeTimer()" [disabled]="isResumeDisabled()">{{ getStartResumeButtonText() }}</button>
            <button mat-button (click)="pauseTimer()" [disabled]="!isTimerRunning()">PAUSE</button>
            <button mat-button (click)="resetTimer()" [disabled]="isResetDisabled()">RESET</button>
        </mat-grid-tile>
      </mat-grid-list>     
</div>







